CRONTAB_01 => text
CRONTAB_02 => text
CRONTAB_03 => text
CRONTAB_04 => text
CRONTAB_05 => text
CRONTAB_06 => text
CRONTAB_07 => text
CRONTAB_08 => text
CRONTAB_09 => text
CRONTAB_10 => text
CUPS_SERVER => text
FRONT_MIC_VOLUME => text
INVENTORY_NUMBER => text
KIOSK_EXE => text
KIOSK_OPTIONS => text
LANG => text
LDM_AUTOLOGIN => list:True,False
LDM_DIRECTX => list:True,False
LDM_GUESTLOGIN => list:True,False
LDM_NODMPS => list:True,False
LDM_PASSWORD => text
LDM_PRINTER_DEFAULT => text
LDM_PRINTER_LIST => multilist
LDM_SERVER => text
LDM_XSESSION => text
LDM_SYSLOG => list:True,False
LDM_DEBUG => list:True,False
LDM_USERNAME => text
LOCAL_APPS_MENU_ITEMS => text
LOCAL_APPS_MENU => list:True,False
LOCALDEV => list:True,False
MENU_COMMAND_01 => text
MENU_COMMAND_02 => text
MENU_COMMAND_03 => text
MENU_COMMAND_04 => text
MENU_COMMAND_05 => text
MENU_ITEM_01 => text
MENU_ITEM_02 => text
MENU_ITEM_03 => text
MENU_ITEM_04 => text
MENU_ITEM_05 => text
MENU_TITLE => text
MIC_VOLUME => text
MODULE_01 => text
MODULE_02 => text
MODULE_03 => text
MODULE_04 => text
MODULE_05 => text
NBD_SWAP => list:True,False
PRINTER_0_DEVICE => text
PXE_CONFIG => text
REMOTE_APPS => list:True,False
RDP_OPTIONS => text
RDP_SERVER => text
RDP_SOUND => list:nopulse,pulse-oss
SOUND => list:True,False
SOUND_DAEMON => list:True,False
SCANNER => list:True,False
SCREEN_01 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_02 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_03 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_04 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_05 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_06 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_07 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_08 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_09 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_10 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_11 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SCREEN_12 => list:kiosk,ldm,menu,rdesktop,shell,ssh,startx,telnet,xdmcp,xfreerdp,xterm
SHUTDOWN_TIME => text
SSH_ARGS => text
SSH_HOST => text
SSH_USER => text
START_ITALC => list:True,False
TELNET_ARGS => text
TELNET_HOST => text
TIMESERVER => text
TIMEZONE => text
X_ARGS => text
X_COLOR_DEPTH => list:8,16,24
X_NUMLOCK => list:True,False
XDM_SERVER => text
XKBLAYOUT => text
XKBVARIANT => text
XRANDR_AUTO_MULTIHEAD => list:True,False
XRANDR_MODE_0 => text
XRANDR_MODE_1 => text
XRANDR_OUTPUT_0 => text
XRANDR_OUTPUT_1 => text
XSERVER => text
XINITRC_PROMPT_ON_EXIT => list:True,False
XINITRC_COMMAND_ON_EXIT => text
X_HORZSYNC => text
X_VERTREFRESH => text
X_MONITOR_OPTION_01 => text
X_MONITOR_OPTION_02 => text
X_MONITOR_OPTION_03 => text
X_BLANKING => text
X_MODE => text
LIKE => text
